* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--blue: #4d6bfe;
--darkBlue: #292a2d;
}

body {
    display: flex;
    font-family: Poppins;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: trap;
    src: url(fonts/Trap-Bold.otf);
}

#sidebar {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px;
    background-color: var(--darkBlue);
    height: 729px;
    width: 280px;
    font-family: Poppins;
}

h1 {
    font-family: trap;
    color: white;
}

#newProject {
/* CSS */

  appearance: button;
  background-color: var(--blue);
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 30px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#newProject:hover {
    box-shadow: 0;
    opacity: 0.8;;
}

#projects {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#project {
padding: 5px 10px;
border: 0;
border-radius: 5px;
color: white;
}

#project:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding: 20px;
    row-gap: 90px;
}

#page {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

#pageInfo {
    font-family: trap;
    font-size: 1.3rem;
}

#select {
    font-family: Poppins;
    font-size: 1rem;
}

#newTask {
    display: flex;
    background-color: var(--blue);
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    color: white;
    box-shadow: inset 1px 1px 10px #004785; 
    cursor: pointer;
}

#newTask:hover {
    background-color: white;
    color: black;
    box-shadow: inset 1px 1px 10px #000000; 
}

#tasks {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 60%;
    justify-content: center;
}

#task {
    display: grid;
    grid-template-columns: 1fr 200px ;
    background-color: var(--darkBlue);
    color: white;
    padding: 20px;
    border: 0;
    border-radius: 10px;
}

#priority {
width: 50px;

}

#utilities {
    display: grid;
    grid-template-columns: 100px repeat(2, 1fr);
    height: 100%;
    column-gap: 20px;
    align-items: center;
}

#done {
    display: flex;
    font-family: trap;
    padding: 10px;
    width: 100px;
    justify-content: center;
    background-color: white;
    color: black;
    cursor: pointer;
}

#done:hover {
    color: white;
    background-color: black;
}

svg {
    width: 1.3rem;
    fill: white;
    cursor: pointer;
}